.red {
    background-color: red;
}

.text{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer{
    margin-top: 25px;
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: baseline;
    justify-content: center;
}

.conteiner .espacio{
        display: flex;
        justify-content: center;
}
.spacio{
    padding: 15px;

 

}
/**movimiento cards
.col :hover {
transform: scale(0.91);
-webkit-animation: ;
}**/

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  .shake-lr {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-24 21:48:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-lr
 * ----------------------------------------
 */
 @-webkit-keyframes shake-lr {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    10% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    80% {
      -webkit-transform: rotate(-8deg);
              transform: rotate(-8deg);
    }
    90% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
  }
  @keyframes shake-lr {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    10% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    80% {
      -webkit-transform: rotate(-8deg);
              transform: rotate(-8deg);
    }
    90% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
  }
  
  .logo{
        width: 100px;
  }
  .color{
        color: white;
  }

  .flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes flip-in-ver-right {
        0% {
          -webkit-transform: rotateY(-80deg);
                  transform: rotateY(-80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          opacity: 1;
        }
      }
      @keyframes flip-in-ver-right {
        0% {
          -webkit-transform: rotateY(-80deg);
                  transform: rotateY(-80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          opacity: 1;
        }
      }
      
      .bg-pan-right {
	-webkit-animation: bg-pan-right 8s both;
	        animation: bg-pan-right 8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-26 1:24:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-right
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-right {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
      @keyframes bg-pan-right {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
      